.login-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: blue;
   padding-left: 70px;
   text-align: left;
   border-left:solid gray;
   border-right:solid gray;
}
.home-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: gold;
   padding-left: 70px;
   text-align: left;
   border-left:solid gray;
   border-right:solid gray;
}