.login-footer{
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: blue;
   padding-left: 20px;
   text-align: left;  
}
.home-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: gold;
   padding-left: 70px;
   text-align: left;
}